<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Greeny Template - free website template</title>
<meta name="keywords" content="Greeny Template, free website templates, CSS, HTML" />
<meta name="description" content="Greeny Template - Download free website templates from templatemo.com" />
<link href="/media/templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<div id="templatemo_header_wrapper">

	<div id="templatemo_header">
    
   		<div id="site_title">
            <h1><a href="http://www.templatemo.com" target="_parent">
            	Dycapo
                <span>Dycapo Server Test</span>
            </a></h1>
        </div>
        
         <div id="templatemo_menu">
            <ul>
                <li><a href="/admin">Admin</a></li>
				<li><a href="/RPC2">RPC2</a></li>
				<li><a href="http://dycapo.org/">About</a></li>
				<li><a href="http://dycapo.org/Protocol">Protocol</a></li>
				<li><a href="http://dycapo.org/Server">Server</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
        
     
    
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_header -->

</div> 
<!-- end of templatemo_header_wrapper -->

<div id="templatemo_content_wrapper">

	<div id="templatemo_content">
    
       
        <div class="content_section">
        
        <h2>Dycapo Server Test</h2>
        
                    
            <p class="em_text">Welcome to the official Dycapo Server Test site.</p>
          
			<p>
				In this site you can test some Dycapo Protocol calls, to be made against
			</p>
			<blockquote><strong>http://test.dycapo.org/RPC2</strong></blockquote>
			<p> 
				Some XML-RPC implementations require that you omit the /RPC2 part. <br/>
				Please see the <a href="http://github.com/BodomLx/dycapo/blob/master/README">README file</a> to know which username and password to use.
				As this is the test server used for development, we can neither ensure a decent uptime, nor great performances, nor database data stability, nor compatibility to the
				stable APIs and Protocol!
			</p>
			<p>
				Due to restrictations of our hosting service, <strong>this server does not run in HTTPS</strong>. Therefore be aware to what you send through the network!
			</p>
			<p>
				Dycapo Server implementation is heavily documented, therefore <a href="http://dycapo.org/Server/Download">download</a> and run your own copy of it instead of bombing this tiny server. Please use the links on top of this page to learn more about the project and the Protocol.
			</p>
        
        </div>
    

    </div> <!-- end of content -->

    
    
    
  	<div class="cleaner"></div>    

</div> <div id="templatemo_content_wrapper_bottom"></div> <!-- end of content_wrapper -->

<div id="templatemo_footer">

   		
            Copyright © 2010 <a href="#">Dycapo</a> | 
            Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a> | 
            Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
</div> <!-- end of templatemo_footer -->

</body>
</html>